# 📊 Exploratory Data Analysis - Hotel No-Show Dataset
This notebook performs an exploratory data analysis on hotel customer records.

---

In [ ]:
# Step 1: Import libraries
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Step 2: Connect to the database
conn = sqlite3.connect('data/noshow.db')
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables